node_modules
.env*
!.env.example
data
dist
build
coverage

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS Files
.DS_Store
Thumbs.db

# IDE
.vscode
.idea

# Secret files
ADMIN_LOGIN.txt
*service-account*.json
firebase-adminsdk*.json
